
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100;1,200&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 1px;
    
}
.wrapper{
    min-height: 100vh;
background-image: url(image6.jpg);
background-size: cover;
height: 100vh;
background-position: center;
}
.testimonial{
    padding: 30px ;

}
article h1{
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;

}
article h1:after{
    height: 5px;
    width: 225px;
    background-color: #fff;
    display: block;
    margin: auto;


}
article img{
    height: 200px;
    width: 200px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 60pX;

}
blockquote{
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 30px;
}
article h5{
    text-transform: uppercase;
    font-size: 27px;
    margin-top: 30px;
}
article p{
    font-size: 17px;
}